<style>
.footer {
	display: none;
}
</style>
<div class="col-md-12 content"><h1>Tyvärr stödjer vi inte äldre webbläsare, vi ber dig för din egen skull att uppdatera din webbläsare.</h1>
	<a href="http://windows.microsoft.com/sv-se/internet-explorer/ie-9-worldwide-languages">Ladda ner en nya version av explorer, det tar bara nån minut.</a>
</div>
