	h3 {
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 16pt;
		color: #2F2F2F;
	}

div.bed-holder {
	
  img {
  	position: absolute;
  	font-size: 0;
  	width: 600px;
  }
	margin-top: 0px;
	margin-bottom: 5px;
}

ul.colors {
	width: 300px;
	li {
		float: left;
	}
}
div#color {
	img {
		width: 60px;
	}
	.colors {
		margin-right: 25px;
	}
}
	#information-holder_1 {

	}
	#information-holder_2 {
	

		/*margin-top: -180px;*/
	}
	#information-holder_3 {
	
	}

	form {
		input {margin-bottom: 10px;}
		textarea {
			margin-bottom: 10px;
		}
	}
	